.navbar {
    font-family: 'Heebo', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 22px;
}

.navbar .navbar-collapse .nav-link {
    font-weight: bold;
    font-size: 14px;
    color: #bbbbbb;
}

.navbar .button button {
    font-size: 14px;
    font-weight: bold;
}

.background-color-primary {
    background-color: #32CB95;
    color: white;
}

.text-color-primary {
    color: #32CB95;
}

.text-color-secondary {
    color: #F4F0F1;
}

.background-color-secondary {
    background-color: #F4F0F1;
    color: #bbbbbb;
}

.container .row .title-container {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.tagline {
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.text-tagline {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #bbbbbb;
}

.btn-started {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

#jumbotron {
    background-color: #FAFAFA;
}

.additional{
    font-family: 'Heebo', sans-serif;
}

.title{
    font-weight: bold;
}

.subtitle{
    color:#bbbbbb;
}

.title-additional{
    font-size: 22;
    font-weight: bold;
}

.subtitle-additional{
    font-size: 14;
    color: #bbbbbb;
}

.services img{
    width:60px;
    height:60px;
}

.services .title-services{
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.services .subtitle-services{
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
}

.services .card{
    border: none;
    border-bottom: 8px solid #ddd;
}

.services .service{
    background-image: url('../img/services/wm.svg');
    background-repeat: no-repeat;
}

.services .service-2{
    background-image: url('../img/services/wm.svg');
    background-repeat: no-repeat;
    background-position: right;
}